<html>

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .PageTitle }}</title>

    <meta name="_csrf" content="${_csrf.token}"/>
    <meta name="_csrf_header" content="${_csrf.headerName}"/>

    <link rel="stylesheet" href="/static/style.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
          crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous"/>
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet"/>

</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark navbar-bg">
    <a class="navbar-brand mx-auto" href="#">
        <img src="/static/logo.png" class="logo" alt="MEP"/>
        MEP
    </a>
</nav>

<div class="container">
    <div class="p-3 m-3 dialog-box shadow">
        <h3 class="text-center text-light pd-3">Login</h3>
        <div class="px-3 text-light">
            <form method="post" action="/login">
                <div class="form-group">
                    <label class="d-none" for="username">Username</label>
                    <div class="input-group shadow">
                        <div class="input-group-prepend">
                            <div class="input-group-text bg-black"><i class="text-light fas fa-user"></i></div>
                        </div>
                        <input type="text" class="form-control" name="username" id="username"
                               aria-describedby="usernameHelp" placeholder="Enter username"/>
                    </div>
                    <small id="usernameHelp" class="d-none form-text text-muted">{{ .UsernameHelp }}
                    </small>
                </div>

                <div class="form-group">
                    <label for="pwd" class="d-none">Password</label>
                    <div class="input-group shadow">
                        <div class="input-group-prepend">
                            <div class="input-group-text bg-black"><i class="text-light fas fa-key"></i></div>
                        </div>
                        <input type="password" class="form-control" id="pwd" name="password" aria-describedby="pwdHelp"
                               placeholder="Password"/>
                    </div>
                    <small id="pwdHelp" class="form-text text-muted d-none">{{ .PwdHelp }}</small>
                </div>

                <div class="form-group form-check float-right">
                    <input type="checkbox" class="form-check-input" id="remember"/>
                    <label class="form-check-label" for="remember">Stay logged in</label>
                </div>

                

                <div>
                    <button class="btn btn-dark bg-black btn-block shadow">Login</button>
                </div>


            </form>

            <div class="d-flex">
                <span class="mr-auto"><small><a href="/forgot/password" class="text-muted">Forgot Password</a></small></span>
                <span><small class="text-right"><a href="/register" class="text-muted">New User</a></small></span>
            </div>
        </div>
    </div>
</div>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous">

</script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous">

</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous">

</script>
</body>

</html>
